{% extends 'base.html' %}
{% load static %}
{% block title %} Reset Password {% endblock title %}

{% block stylesheets %}
<style>
  .oblique-bg {
    background-image: url("{% static 'assets/img/curved6.jpg' %}");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 0;
    margin-left: -6rem;
  }
</style>
{% endblock stylesheets %}

{% block content %}
<section>
    <div class="page-header section-height-75">
      <div class="container">
        <div class="row">
          <!-- Form column -->
          <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto">
            <div class="card card-plain mt-6">
              <div class="card-header pb-0 text-left bg-transparent">
                <h4 class="text-info text-gradient">Reset Password</h4>
                
                <!-- Display messages here -->
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                    {% endfor %}
                {% else %}
                    <p>Enter your email address to receive a password reset link.</p>
                {% endif %}
              </div>
              
              <div class="card-body">
                <form method="post">
                  {% csrf_token %}
                  <label>Email</label>
                  <div class="mb-3">
                     <input name="email" class="form-control" placeholder="Email address" type="email" id="id_email" required>
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn bg-gradient-info w-100 mt-4 mb-0">Send Reset Email</button>
                  </div>
                </form>
              </div>
              <div class="card-footer text-center pt-0 px-lg-2 px-1">
                <p class="mb-4 text-sm mx-auto">
                  Didn't receive an activation email?
                  <a href="{% url 'resend_activation_email' %}" class="text-info text-gradient font-weight-bold">Resend Activation Email</a>
                </p>
                <p class="mb-4 text-sm mx-auto">
                  Remember your password?
                  <a href="{% url 'login' %}" class="text-info text-gradient font-weight-bold">Sign in here</a>
                </p>
              </div>
            </div>
          </div>
          
          <!-- Background image column -->
          <div class="col-md-6">
            <div class="oblique position-absolute top-0 h-100 d-md-block d-none me-n8">
              <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6 oblique-bg"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
{% endblock content %}

{% block javascripts %}
<script>
  // Add any specific JavaScript if needed
</script>
{% endblock javascripts %}
