{% extends 'base.html' %}
{% load static %}
{% block title %} Reset Password Complete{% endblock title %}

{% block stylesheets %}
<style>
  .oblique-bg {
    background-image: url("{% static 'assets/img/curved6.jpg' %}");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 0;
    margin-left: -6rem;
  }
</style>
{% endblock stylesheets %}

{% block content %}
<section>
    <div class="page-header section-height-75">
      <div class="container">
        <div class="row" style="min-height: 500px">
          <!-- Form column -->
          <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto">
            <div class="card card-plain mt-6">
                <p class="m-auto">Your password has been reset. You may go ahead and <a href="{% url 'login' %}">sign in</a> now.</p>
            </div>
          </div>
          <!-- Background image column -->
          <div class="col-md-6">
            <div class="oblique position-absolute top-0 h-100 d-md-block d-none me-n8">
              <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6 oblique-bg"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
{% endblock content %}

{% block javascripts %}
<script>
  // Add any specific JavaScript if needed
</script>
{% endblock javascripts %}
