{% extends 'base.html' %}
{% load static %}
{% block title %} Jobs {% endblock title %}

{% block stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<!-- Add this inside your base template or head section -->

<style>
  /* Full-width container without max-width */
  .stats-and-search {
      width: 100%;
      padding: 20px;
      background-color: #ccd7c5;
      border-radius: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      margin: auto;
  }

  /* Stats section flex alignment */
  .stats-row {
      display: flex;
      justify-content: space-between;
      gap: 10px;
      flex-wrap: wrap;
      margin-bottom: 10px;
  }

  .stats-row .card {
      flex: 1;
      min-width: 150px;
  }

  /* Search bar styling for full width */
  .search-bar {
      display: flex;
      align-items: center;
      width: 100%;
      background-color: white;
      border-radius: 50px;
      overflow: visibile;
      padding: 15px;
      box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
      border: none;
  }

  /* Input field container */
  .input-container {
      position: relative;
      flex: 1;
      overflow: visibile;
  }


/* General input styling for both inputs */
.input-container input[type="text"] {
  width: 100%;
  padding: 15px 20px 15px 45px; /* Padding is the same for both inputs */
  font-size: 1em;
  border: none;
  color: #333;
  outline: none;
  height: 100%;
  background-color: #ffffff; /* Ensure both have the same background color */
}

/* Left input field styling */
.input-container.left input[type="text"] {
  border-radius: 50px 0 0 50px; /* Rounded left side, sharp right edge */
}

/* Right input field styling */
.input-container.right input[type="text"] {
  border-radius: 0 50px 50px 0; /* Sharp left edge, rounded right side */
}

  /* Icon styling */
  .input-container .icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #999;
    font-size: 1.2em;
}

  /* Remove focus outline */
  .input-container input[type="text"]:focus {
      outline: none;
  }

  /* Search Button */
  .search-bar button {
      background-color: #4e00ff;
      color: white;
      border: none;
      padding: 15px 30px;
      font-size: 1em;
      cursor: pointer;
      border-radius: 50px;
      flex-shrink: 0;
  }

  /* Divider line between input fields */
  .input-container.right {
    border-left: 1px solid #e0e0e0; /* Consistent divider line */
  }

  /* Mobile view adjustments */
  @media (max-width: 768px) {
      /* Stack the search inputs vertically */
      .search-bar {
          flex-direction: column;
          padding: 10px;
          border-radius: 20px;
          background-color: #ccd7c5;
          box-shadow: none; /* Remove shadow */
      }

      .input-container {
          width: 100%;
          margin-bottom: 10px; /* Space between stacked inputs */
      }

      .input-container.left input[type="text"],
      .input-container.right input[type="text"] {
          border-radius: 5px; /* Rounded corners for all inputs in mobile */
      }

      .input-container.right {
          border-left: none; /* Remove divider line in mobile */
      }

      /* Center the search button below the inputs */
      .search-bar button {
          width: 100%;
          margin-top: 10px;
          border-radius: 20px;
      }

      /* Adjust icon position for smaller screen */
      .input-container .icon {
          font-size: 1em;
          left: 10px;
      }

      /* Adjust input padding for smaller screen */
      .input-container input[type="text"] {
          padding: 12px 15px 12px 35px;
          font-size: 0.9em;
      }
  }



  /* Auto complerte css */



  .form-group {
    position: relative;
  }


  .autocomplete-result:hover {
    background-color: #4e00ff; /* Navy blue color on hover */
    color: #ffffff; /* White text color for better contrast */
  }



/* Container for all tags */
.tag-container {
  margin-top: 10px; /* 10px margin from the input field */
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

/* General styling for all tags */
.tag {
  display: inline-flex;
  align-items: center;
  background-color: #4e00ff; /* Tag background color */
  color: white;
  padding: 8px 12px;
  border-radius: 15px;
  font-size: 0.9em;
}

/* Remove button styling for all tags */
.remove-tag {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin-left: 8px;
  font-weight: bold;
  font-size: 1.2em;
}

.remove-tag:hover {
  color: #ff0000; /* Red color on hover */
}



.profile-summary {
  border-radius: 8px;
  padding: 20px;
  background-color: #fff;
}

.profile-header .profile-picture {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-bottom: 10px;
}

.profile-header h5 {
  font-size: 1.2rem;
  color: #333;
}

.company-name {
  font-size: 0.9rem;
  color: #666;
  display: flex;
  align-items: center;
  justify-content: center;
}

.company-logo {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.profile-stats {
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

.stat-item {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.stat-label {
  color: #666;
}

.stat-value {
  font-weight: bold;
}

.additional-section h6 {
  font-size: 1rem;
  color: #333;
}

.additional-section .btn {
  width: 100%;
  margin-top: 5px;
  text-align: center;
  font-size: 0.85rem;
}

.quick-links {
  margin-top: 20px;
}

.quick-link {
  color: #333;
  font-size: 0.9rem;
  padding: 8px 0;
  border-top: 1px solid #e0e0e0;
  display: flex;
  align-items: center;
}

.quick-link:first-child {
  border-top: none;
}

.quick-link:hover {
  color: #4e00ff;
  text-decoration: none;
}


#job-list-container {
  max-height: 1000px; /* Set the desired height */
  overflow-y: auto; /* Enable vertical scroll */
  padding-right: 15px; /* Optional: Add padding to avoid scrollbar overlap */
}


</style>
{% endblock stylesheets %}

{% block content %}

<div class="container-fluid py-4">
  <!-- Stats and Search Bar Section -->
  <div class="stats-and-search">
    <!-- Stats Row -->
    <div class="stats-row" style="margin-top:20px;">
      <div class="card">
        <div class="card-body p-3">
          <p class="text-sm mb-0 font-weight-bold">Today's New</p>
          <h5 class="font-weight-bolder mb-0">
            {{ new_jobs }}
            <span class="text-success text-sm font-weight-bolder">{{ new_jobs_perc|floatformat:1 }}%</span>
          </h5>
        </div>
      </div>
      <div class="card">
        <div class="card-body p-3">
          <p class="text-sm mb-0 font-weight-bold">Total Available</p>
          <h5 class="font-weight-bolder mb-0">
            {{ total_jobs }}
            {% if total_jobs_change_positive %}
              <span class="text-success text-sm font-weight-bolder">+{{ total_jobs_change }}%</span>
            {% else %}
              <span class="text-danger text-sm font-weight-bolder">-{{ total_jobs_change }}%</span>
            {% endif %}
          </h5>
        </div>
      </div>
    </div>

    <!-- Search Bar -->
    <form method="GET" action="{% url 'jobs' %}">
      <div class="search-bar">
          <!-- Title/Keyword Input with Autocomplete -->
          <div id="title_keyword_container" class="input-container left autocomplete" style="flex: 2; position: relative;">
            <i class="fas fa-search icon"></i>
            <input type="text" name="title_keyword" id="title_keyword_input" placeholder="Job title or keyword" autocomplete="off" class="autocomplete-input" value="{{ selected_title_keyword }}" />
            <ul id="keyword-autocomplete" class="autocomplete-result-list"></ul>
          </div>
    
          <!-- Location Input with Autocomplete --> 
          <div id="location" class="input-container right autocomplete" style="flex: 1; position: relative;">
            <i class="fas fa-map-marker-alt icon"></i>
            <input type="text" name="location" id="location_input" placeholder="Add country or city" autocomplete="off" value="{{ selected_location }}" />
            <ul id="location-autocomplete" class="autocomplete-result-list"></ul>
          </div>
    
          <button type="submit">Search</button>
      </div>
    </form>
  </div>

  <!-- Filter and Job Listings -->
  <div class="row mt-3">
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h6 class="font-weight-bold">Filters</h6>
    
          <!-- Category Filter with Autocomplete -->
          <div id="category" class="form-group autocomplete">
            <label for="category_input">Category</label>
            <input type="text" name="category" id="category_input" placeholder="Search for category" autocomplete="off" class="form-control autocomplete-input" />
            <ul id="category-autocomplete" class="autocomplete-result-list"></ul>
            <div id="selected-category" class="tag-container"></div>
            <div id="initial-selected-category" style="display: none;">{{ selected_category }}</div> <!-- Hidden initial values -->
          </div>

          <!-- Sub-Category Filter with Autocomplete -->
          <div id="sub_category" class="form-group autocomplete">
            <label for="sub_category_input">Sub-Category</label>
            <input type="text" name="sub_category" id="sub_category_input" placeholder="Search for sub-category" autocomplete="off" class="form-control autocomplete-input" />
            <ul id="sub-category-autocomplete" class="autocomplete-result-list"></ul>
            <div id="selected-sub-category" class="tag-container"></div>
            <div id="initial-selected-sub-category" style="display: none;">{{ selected_sub_category }}</div> <!-- Hidden initial values -->
          </div>

          <!-- Skills Filter -->
          <div id="skills" class="form-group autocomplete">
            <label for="skills">Skills</label>
            <input type="text" name="skills" id="skills_input" placeholder="Search for skills" autocomplete="off" class="form-control autocomplete-input" />
            <ul id="skills-autocomplete" class="autocomplete-result-list"></ul>
            <div id="selected-skills" class="tag-container"></div>
            <div id="initial-selected-skills" style="display: none;">{{ selected_skills }}</div> <!-- Hidden initial values -->
          </div>

          <!-- Company Filter with Autocomplete -->
          <div id="company" class="form-group autocomplete">
            <label for="company_input">Company</label>
            <input type="text" name="company" id="company_input" placeholder="Search for company" autocomplete="off" class="form-control autocomplete-input" />
            <ul id="company-autocomplete" class="autocomplete-result-list"></ul>
            <div id="selected-companies" class="tag-container"></div>
            <div id="initial-selected-companies" style="display: none;">{{ selected_companies }}</div> <!-- Hidden initial values -->
          </div>


          <!-- Date Posted filter -->
          <div class="form-group">
            <label for="date-filter">Date Posted</label>
            <select class="form-control" id="date-filter" name="date">
              <option value="">Anytime</option>
              <option value="last_24_hours" {% if selected_date_posted == "last_24_hours" %}selected{% endif %}>Last 24 hours</option>
              <option value="last_7_days" {% if selected_date_posted == "last_7_days" %}selected{% endif %}>Last 7 days</option>
              <option value="last_30_days" {% if selected_date_posted == "last_30_days" %}selected{% endif %}>Last 30 days</option>
            </select>
          </div>
    
          <!-- Remote/In-Office Filter -->
          <div class="form-group">
            <label>Work Type</label>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="remote" name="remote" value="true" {% if selected_remote %}checked{% endif %}>
              <label class="form-check-label" for="remote">Remote</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="in-office" name="in_office" value="true" {% if selected_in_office %}checked{% endif %}>
              <label class="form-check-label" for="in-office">In Office</label>
            </div>
          </div>
    
          <!-- Apply Filters Button -->
          <button id="apply-filters" type="submit" class="btn btn-primary w-100">Apply Filters</button>
        </div>
      </div>
    </div>
    

    <div class="col-md-6">   
        <!-- Infinite Scroll Container for Job Cards -->
        <div id="job-list-container">
            {% include 'home/jobs/job_list_partial.html' %}
        </div>
    
        <!-- Loading Spinner -->
        <div id="loading-spinner" style="display: none; text-align: center;">
          <i class="fas fa-spinner fa-spin fa-2x" aria-hidden="true"></i>
        </div>
    
        <!-- End of Content Message -->
        <div id="end-of-content" style="display: none; text-align: center;">
            <p>No more jobs to display.</p>
        </div>
    </div>

    <div class="profile-summary card shadow-sm col-md-3">
      <!-- Profile Header Section -->
      <div class="profile-header text-center">
          <img src="{% static 'images/profile-picture.jpg' %}" alt="Profile Picture" class="profile-picture rounded-circle mb-2">
          <h5 class="font-weight-bold">Arpan Sahu</h5>
          <p class="text-muted mb-1">Software Engineer | Backend</p>
          <p class="text-muted mb-1"><i class="fas fa-map-marker-alt"></i> Bhopal, Madhya Pradesh</p>
          <p class="company-name mb-2"><img src="{% static 'images/trellix-logo.png' %}" alt="Company Logo" class="company-logo"> Trellix</p>
      </div>
  
      <!-- Stats Section -->
      <div class="profile-stats mt-3">
          <p class="stat-item">
              <span class="stat-label">Profile viewers</span>
              <span class="stat-value">134</span>
          </p>
          <p class="stat-item">
              <span class="stat-label">Post impressions</span>
              <span class="stat-value">155</span>
          </p>
      </div>
  
      <!-- Additional Section -->
      <div class="additional-section mt-4">
          <h6 class="font-weight-bold">Tehnorigger</h6>
          <p class="text-muted small mb-0">Notifications: <span>0</span></p>
          <p class="text-muted small mb-2">Page visitors: <span>0</span></p>
          <a href="#" class="btn btn-outline-primary btn-sm mb-2">Try Premium Page for ₹0</a>
          <a href="#" class="btn btn-outline-secondary btn-sm mb-2">Advertise on LinkedIn</a>
          <a href="#" class="btn btn-outline-primary btn-sm">See visitor analytics</a>
      </div>
  
      <!-- Quick Links Section -->
      <div class="quick-links mt-4">
          <a href="#" class="quick-link d-flex align-items-center">
              <i class="fas fa-bookmark mr-2"></i> Saved items
          </a>
          <a href="#" class="quick-link d-flex align-items-center">
              <i class="fas fa-users mr-2"></i> Groups
          </a>
          <a href="#" class="quick-link d-flex align-items-center">
              <i class="fas fa-calendar-alt mr-2"></i> Events
          </a>
      </div>
  </div>
  
  
  </div>
</div>



{% endblock content %}



{% block javascripts %}
<script>

  document.addEventListener("DOMContentLoaded", function() {
    // Define a reusable function to initialize tags for each field    

    function initializeTags(containerId, hiddenFieldId, inputId, dataAttribute) {
        // Retrieve the initial values as a comma-separated string, then split into an array
        const initialValues = document.getElementById(hiddenFieldId).textContent.split(",");

        // Loop through each value and add as a tag
        initialValues.forEach(value => {
            if (value.trim()) {
                addTag(value.trim(), containerId, inputId, dataAttribute);
            }
        });
    }

    // Initialize each tag container with its initial values
    initializeTags("selected-category", "initial-selected-category", "category_input", "data-category-name");
    initializeTags("selected-sub-category", "initial-selected-sub-category", "sub_category_input", "data-sub-category-name");
    initializeTags("selected-skills", "initial-selected-skills", "skills_input", "data-skill-name");
    initializeTags("selected-companies", "initial-selected-companies", "company_input", "data-company-name");


    let isLoading = false;
    let nextPage = 2;  // Start from page 2 if page 1 is already loaded
    const jobListContainer = document.getElementById('job-list-container');
    
    function loadMoreJobs() {
        if (isLoading) return;
        isLoading = true;
    
        const loadingSpinner = document.getElementById('loading-spinner');
        loadingSpinner.style.display = 'block';
    
        fetch(`?page=${nextPage}`, {
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
                'X-Requested-With': 'XMLHttpRequest'  // Mark as AJAX
            }
        })
        .then(response => {
            if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
            }
            return response.json();
        })
        .then(data => {
            if (data.jobs_html) {
                jobListContainer.insertAdjacentHTML('beforeend', data.jobs_html);
                nextPage++;
                isLoading = false;
                loadingSpinner.style.display = 'none';
    
                // If there are no more pages, hide the loading spinner and show the end message
                if (!data.has_next) {
                    document.getElementById('end-of-content').style.display = 'block';
                    loadingSpinner.style.display = 'none';
                }
            }
        })
        .catch(error => {
            console.error('Error loading more jobs:', error);
            isLoading = false;
            loadingSpinner.style.display = 'none';
        });
    }
    
    // Trigger loadMoreJobs when scrolling near the bottom of #job-list-container
    jobListContainer.addEventListener('scroll', () => {
        if (jobListContainer.scrollTop + jobListContainer.clientHeight >= jobListContainer.scrollHeight - 100) {
            loadMoreJobs();
        }
    });

  });

  // Autocomplete for location input (new functionality)
  new Autocomplete('#location', {
    search: input => {
        const url = "{% url 'autocomplete_locations' %}?q=" + input;
        return new Promise(resolve => {
            fetch(url)
            .then(response => response.json())
            .then(data => {
                resolve(data.data);
            });
        });
    }
  });

  // Initialize autocomplete for the keyword input field
  new Autocomplete('#title_keyword_container', {
    search: input => {
      // Assuming you have a URL endpoint that provides keyword suggestions
      const url = "{% url 'autocomplete_title_keywords' %}?q=" + input;
      return new Promise(resolve => {
        fetch(url)
          .then(response => response.json())
          .then(data => {
            resolve(data.data); // Assuming response format: { status: 200, data: [...] }
          })
      });
    },
  });


  function addTag(result, containerId, inputId, dataAttribute) {

    // Check if result is undefined or an empty string
    if (!result || !result.trim()) {
      console.log("Invalid or empty string provided; tag not added.");
      return;
    }

    const container = document.getElementById(containerId);
    const input = document.getElementById(inputId);

    // Check if the tag is already present
    const isAlreadyAdded = Array.from(container.children).some(tag => tag.getAttribute(dataAttribute) === result);

    if (isAlreadyAdded) {
        console.log("Tag already exists:", result);
        return; // Skip adding if it already exists
    }

    // Create the tag element
    const tag = document.createElement("span");
    tag.className = "tag";
    tag.setAttribute(dataAttribute, result);

    // Create a separate span for the skill name
    const skillNameSpan = document.createElement("span");
    skillNameSpan.className = "skill-name";  // Add a specific class for the skill name
    skillNameSpan.textContent = result;  // Only the skill name text

    // Create the remove button
    const removeButton = document.createElement("button");
    removeButton.className = "remove-tag";
    removeButton.innerHTML = "&times;";
    removeButton.addEventListener("click", () => container.removeChild(tag));

    // Append the skill name span and remove button to the tag
    tag.appendChild(skillNameSpan);  // Append skill name separately
    tag.appendChild(removeButton);
    container.appendChild(tag);

    console.log("Added tag:", result); // Log when a tag is successfully added

    // Clear the input field for further entries
    input.value = "";
  }


  
  // Skills autocomplete
  new Autocomplete('#skills', {
    search: input => {
      const url = "{% url 'autocomplete_skills' %}?q=" + input;
      return fetch(url)
        .then(response => response.json())
        .then(data => data.data);
    },
    onSubmit: result => addTag(result, 'selected-skills', 'skills_input', 'data-skill-name')
  });
  
  // Company autocomplete
  new Autocomplete('#company', {
    search: input => {
      const url = "{% url 'autocomplete_companies' %}?q=" + input;
      return fetch(url)
        .then(response => response.json())
        .then(data => data.data);
    },
    onSubmit: result => addTag(result, 'selected-companies', 'company_input', 'data-company-name')
  });
  
  // Category autocomplete
  new Autocomplete('#category', {
    search: input => {
      const url = "{% url 'autocomplete_category' %}?q=" + input;
      return fetch(url)
        .then(response => response.json())
        .then(data => data.data);
    },
    onSubmit: result => addTag(result, 'selected-category', 'category_input', 'data-category-name')
  });

  // Sub-Category autocomplete
  new Autocomplete('#sub_category', {
    search: input => {
      const url = "{% url 'autocomplete_sub_category' %}?q=" + input;
      return fetch(url)
        .then(response => response.json())
        .then(data => data.data);
    },
    onSubmit: result => addTag(result, 'selected-sub-category', 'sub_category_input', 'data-sub-category-name')
  });



  document.getElementById('apply-filters').addEventListener('click', function(event) {
    console.log("Apply Filters button clicked");
    event.preventDefault();

    // Gather form data
    const titleKeyword = document.getElementById('title_keyword_input').value;
    const location = document.getElementById('location_input').value;

    // Get selected skills, companies, categories, and sub-categories
    const selectedSkills = Array.from(document.querySelectorAll('#selected-skills .tag')).map(tag => {
        const skillNameElement = tag.querySelector('.skill-name');
        return skillNameElement ? skillNameElement.textContent.trim() : "";
    }).filter(skill => skill !== "");
    console.log("Selected Skills:", selectedSkills);

    const selectedCompanies = Array.from(document.querySelectorAll('#selected-companies .tag')).map(tag => {
        const companyNameElement = tag.querySelector('.skill-name');
        return companyNameElement ? companyNameElement.textContent.trim() : "";
    }).filter(company => company !== "");
    console.log("Selected Companies:", selectedCompanies);

    const selectedCategory = Array.from(document.querySelectorAll('#selected-category .tag')).map(tag => {
        const categoryElement = tag.querySelector('.skill-name');
        return categoryElement ? categoryElement.textContent.trim() : "";
    }).filter(category => category !== "");
    console.log("Selected Category:", selectedCategory);

    const selectedSubCategory = Array.from(document.querySelectorAll('#selected-sub-category .tag')).map(tag => {
        const subCategoryElement = tag.querySelector('.skill-name');
        return subCategoryElement ? subCategoryElement.textContent.trim() : "";
    }).filter(subCategory => subCategory !== "");
    console.log("Selected Sub-Category:", selectedSubCategory);

    const datePosted = document.getElementById('date-filter').value;
    const remote = document.getElementById('remote').checked ? 'true' : '';
    const inOffice = document.getElementById('in-office').checked ? 'true' : '';

    // Construct the query string
    const queryParams = new URLSearchParams({
        title_keyword: titleKeyword,
        location: location,
        date_posted: datePosted,
        remote: remote,
        in_office: inOffice
    });

    // Add each set of tags as a single, comma-separated parameter
    if (selectedSkills.length > 0) {
        queryParams.append('skills', selectedSkills.join(','));
    }
    if (selectedCompanies.length > 0) {
        queryParams.append('companies', selectedCompanies.join(','));
    }
    if (selectedCategory.length > 0) {
        queryParams.append('category', selectedCategory.join(','));
    }
    if (selectedSubCategory.length > 0) {
        queryParams.append('sub_category', selectedSubCategory.join(','));
    }

    // Redirect with query parameters
    window.location.href = `{% url 'jobs' %}?${queryParams.toString()}`;
});




  
</script>
{% endblock javascripts %}