{% load static %}
  <!--   Core JS Files   -->
  <script src="{% static 'assets/js/core/popper.min.js' %}"></script>
  <script src="{% static 'assets/js/core/bootstrap.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/perfect-scrollbar.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/smooth-scrollbar.min.js' %}"></script>

  <!-- Page Specific JS Files   -->  
  <script src="{% static 'assets/js/plugins/choices.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/fullcalendar.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/chartjs.min.js' %}"></script>

  <!-- Github buttons -->
  <script src="{% static 'js/github-buttons.js' %}"></script>

  <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="{% static 'assets/js/soft-ui-dashboard.min.js' %}"></script>

  <script src="{% static 'js/autocomplete.js' %}"></script>
  <script src="{% static 'js/flatpickr.js' %}"></script>

  <!-- Celery Progress -->
  <script src="{% static 'celery_progress/celery_progress.js' %}"></script>
  <script src="{% static 'celery_progress/celery_websocket.js' %}"></script>

 